*{
    margin: 0;
    padding: 0;
}
body{
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.tcon{
    display: flex;
    justify-content: center;
    margin: 2rem;
    margin-bottom: 10vh;
}
.con{
    width: 25%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3,4fr);
    grid-template-rows: repeat(3,4fr);
    grid-row-gap:10px;
}
.boxes{
    width: 90%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0.5px 0.5px 50px 0px rgba(255, 255, 255, 0.499);
    background-color:#934aab84;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color:  rgba(0, 255, 255, 0.682);
    border: 0;
}
.container{
    text-align: center;
}

.status{
    font-size: 2rem;
    margin-top: 2em;
    margin-bottom: 1em;
}

.reset{
    padding: 1em;
    margin: 1em;
    font-size: 1em;
    border-radius: 20px;
    border: 0;
    background-color: black;
    color: white;
}
.start{
    padding: 1em;
    font-size: 1em;
    border-radius: 20px;
    border: 0;
    background-color: black;
    color: white;
}